:root {
    --write: #FFFFFF; 
    --orange: #f79634;
    --purple: #382b8c;
    --purple-b:#2a1f5e ;
    --black: #141414;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

ul{
    list-style:  none;
    margin: 0;
    padding: 0;
}

ul 
li 
a 
img {
    text-decoration: none;
}

h2 {
    text-align: center;
    margin: 1em 0;
}

.container {
    max-width: 1200px;
  }
.navbar {
    background-color: var(--write);
    height:  80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.navbar__container--image {
    cursor: pointer;
    padding: 1em;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__links {
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: none;
    background: var(--orange);
    color: var(--write);     
}

.button:hover {
    background: var(--purple-b);
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: var(--orange);
    transition: all 0.3s esase;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height:  80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px; 
        opacity: 0;
        transition:  all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: var(--black);
    }

    .navbar__menu.active {
        background: var(--write);
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50pv;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: var(--black); 
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Hero Section */

.main {
    background-color: var(--secondary-white);
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
    background-color:transparent
}

.main__content h1 {
    font-size: 3.5rem;
    color:  var(--black);
   
   
    margin-bottom: 20px;
}

.main__content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;   
}

.main__img--container {
    text-align: center;
}

.main__img {
    height: 60%;
    width: 60%;
}

#services{
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 100px;   
}

.list-services{
    display: flex;
    justify-content: space-between;  
}

.list-services{
    text-align: center;
    padding: 50px;
}

/* Mobile Responsive */

@media screen and (max-width: 768px) {
    .main {
        background-image: url(./images/pata.png);
        background-repeat: no-repeat 50%;
        background-size: cover;
        
    }
    
    .main__conteiner {
    height: 90vh;
    padding: 10px 50px;
    }

    .main__img {
        width: 40%;
    }

    .main__img--content {
        display: none
    }

    .list-services{
        display: grid;
        justify-content: center;   
    }
    
    .list-services {
        text-align: center;   
    }
    
    .list-services p {
        padding: 1rem;
    }
}

.grid__content {
    background: var(--purple);
    color: var(--write);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-bottom: 2em;
}

.body--large {
    color: var(--write);
    padding: 1em 2em;
    text-align: justify;
}

/*carousel*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container__carousel {
    position: relative;
    padding: 15px;
    max-width: 640px;
    margin: 0 auto;
  }
  
  .gallery-wrapper {
    overflow-x: auto;
  }

  .arrow-left,
  .arrow-right {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 30px;
    line-height: 250px;
    width: 40px;
    color: var(--orange);
    transition: all 600ms ease-in-out;
    background: transparent;
    opacity: 0.1;
    cursor: pointer;
    border: none;
  }
  
  .arrow-left:hover,
  .arrow-right:hover {
    opacity: 1;
  }
  
  .arrow-right {
    right: 0;
    left: auto;
    text-align: right;
    background: transparent;
  }
  
  .gallery {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
    text-align: center;
  }

  .item {
    width: 170px;
    height: 250px;
    flex-shrink: 0;
    transition: all 600ms ease-in-out;

  }
  
  .current-item {
    opacity: 1;
  }
  
  .gallery-wrapper::-webkit-scrollbar {
    display: none;
  }
  
  .gallery-wrapper {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
  

/* Section-Form */


.name__form  {
    background-color: transparent;
    border-color: var(--purple);
}

.txtCharacter {
    background-color: transparent;
    border-color: var(--purple);
}
.section-form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    text-align: center;
    padding: 30px;
    background-image: url(./images/patinhas.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
.section-form .form-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
    background-color: transparent;
    border-style: groove;
    border-color: var(--purple);
    color: var(--black);
    text-align: left;
    line-height: 35px;
    
  }
  
  .section-form .form-container form button {
    border: none;
    background-color: var(--orange);
    color: var(--write);
    max-width: 300px;
    align-self: center;
    padding: 10px 20px;
    margin-top: 20px;
    
  }
  
  .section-form .form-container form button:hover {
    background-color: var(--purple-b);
    color: var(--write);
    
  }
  
.footer {
    background: var(--write);
}

.footer-2 {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    background: var(--purple);
    color: var(--write);
    height: 90px;   
}

